body {
    user-select: none;
    background-color: #2e86de;
}

#game_header {
    font-family: 'Balsamiq Sans', cursive;
    /* text-decoration: underline; */
    color: white;
    border: 3px solid white;
    cursor: default;
    -webkit-user-select: none;
    -moz-user-select: none;
    font-size: 2.5em;
    text-align: center;
    padding: 20px;
    width: fit-content;
    margin: auto;
}

.main_screens p {
    font-family: 'Balsamiq Sans', cursive;
    color: white;
    -webkit-user-select: text;
    -moz-user-select: text;
    user-select: text;
}

#container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#joiners {
    display: none;
}

.join_buttons {
    display: block;
    margin-top: 10px;
    text-align: center;
    width: 250px;
    padding: 10px;
    color: white;
    font-family: 'Balsamiq Sans', cursive;
    font-size: 1.85em;
    border-radius: 3px;
}

#joiners button:active {
    outline: none;
}

#join_existing {    
    background: #f39c12;
    border: 2px solid #e67e22;
}

#join_existing:hover {
    background: #e67e22;
}

#create_new {
    background: #ff6b6b;
    border: 2px solid #e74c3c;
}

#create_new:hover {
    background: #e74c3c;
}

.user_input {
    display: none;
    margin-top: 10px;
    width: fit-content;
    padding: 10px;
    color: grey;
    font-family: 'Balsamiq Sans', cursive;
    font-size: 1.85em;
    border-radius: 3px;
    border: 2px solid grey
}

.row_1 {
    display: inline-block;
    margin: 5px;
}

#center_page {
    display: none;
    background: #e74c3c;
    margin: auto;
    padding: 50px;
}

#add_data {
    font-family: 'Balsamiq Sans', cursive;
    border-radius: 7.5px;
    font-size: 1.3em;
    padding: 5px;
    background: #27ae60;
    color: white;
    border: none;
}

#add_data:focus {
    outline: none;
}

#data_val {
    border: none;
    border-radius: 7.5px;
    font-size: 1.3em;
    padding: 5px;
}

#data_val:focus {
    border: none;
    outline: none;
}

#content_list {
    font-family: 'Balsamiq Sans', cursive;
    list-style-type: none;
    text-decoration: none;
    margin: 10px;
    color: white;
}

.main_screens p {
    font-size: 1.25em;
}

.player_preview {
    color: white;
    border-radius: 3.5px;
    margin: 10px;
    text-align: center;
    padding: 10px;
    display: block;
    font-family: 'Balsamiq Sans', cursive;
    cursor: pointer;
}

#begin {
    border: 2px solid white;
}

#begin:hover {
    color: #2e86de;
    background: white;
}

#game_screen {
    display: none;
    padding: 20px;
}

#game_screen .player_preview {
    color: white;
    border-radius: 3.5px;
    margin: 10px;
    float: left;
    text-align: center;
    padding-left: 25px;
    padding-right: 25px;
    min-width: 50px;
    display: block;
    font-family: 'Balsamiq Sans', cursive;
    cursor: pointer;
}

#game_screen .not_drawn {
    color: white;
    background: none;
    border: 2px solid white
}

#game_screen .went {
    opacity: 0.85;
    cursor: not-allowed;
}

#game_status {
    text-align: center;
}

#draw_btn {
    display: block;
    margin-top: 10px;
    text-align: center;
    width: 250px;
    padding: 10px;
    color: white;
    background: #2ecc71;
    border: 2px solid #27ae60;
    font-family: 'Balsamiq Sans', cursive;
    font-size: 1.85em;
    border-radius: 3px;
    margin: auto;
}

#draw_btn:hover {
    background: #1abc9c;
}

#card {
    padding: 50px;
    border-radius: 5px;
    border: 10px solid white;
    color: white;
    text-align: center;
    font-family: 'Balsamiq Sans', cursive;
    width: fit-content;    
    min-height: 130px;
    margin: auto;
}

#game_screen p {

}